* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-image: url("images/bg-pattern.svg");
    display: grid;
    place-items: center;
    height: 100vh;
    font-family: "Manrope", system-ui;
    font-optical-sizing: auto;
    font-style: normal;
}

.slidecontainer {
    width: 80%; /* Width of the outside container */
    margin: 0 auto;
    box-sizing: border-box;
    padding-bottom: 2em;
    justify-content: center;
    grid-column: 1/ -1;
    
  }
.slider1 {
    width: 100%;
    box-sizing: border-box;
  }
/* Mouse-over effects */
  #slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  #views {
    display: none;
  }

  

  #pageViewDisplay {
    padding-right: 0.25%;
  }

 /*list of checkmarks*/

 .list{
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.checkmark  {
  background: url('images/icon-check.svg') no-repeat left top;
  height: 34px;
  padding-left: 1em;
}

/*Title*/

.container {
  display: grid;
  column-gap: 0.75em;
  text-align: center;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  
}

/*Body*/

.body-text {
  background-color: rgb(255, 255, 255);
  display: grid;
  place-items: center;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  padding: 5%;
  overflow: hidden;
  height: auto;
  width: 80%;
  
} 
.time {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-column: 1/ -1;
  font-weight: 400;
  
}

#monthly-price {
  overflow: hidden;
  width: 100%;
  text-align: center;
 
}
@media (min-width: 895px) {
  #monthly-price {
    grid-column: 3;
  }

  .start-trial {
    grid-column: 3;
  }


}
#monthly-price .price {
  font-weight: 800;
  font-size: 2REM;
  display: inline-block;
  vertical-align: middle;

}

#monthly-price .month {
  font-weight: 400;
  font-size: smaller;
  display: inline-block;
  margin-left: 0.1rem;
  vertical-align: middle;
}

.list {
  padding-top: 2vh;
  margin-left: 10%;
  font-weight: 400;
  
}

#pageviews {
  display: flex;
  align-items: center;
  
}

.pageViews {
  margin-left: 0.2rem;
}

.start-trial {
  margin-right: 10%;
  font-family: "Manrope", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  
}

.start-button {
  border-radius: 40px;
  background-color:  hsl(227, 35%, 25%);
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}







  
  
  


 /* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
  margin-left: 20%;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .2s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  
  transition: .2s;
}

input:not(checked) + .slider {
  background-color: hsl(223, 50%, 87%);
}

input:checked + .slider {
  background-color: hsl(223, 50%, 87%);
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.yearly {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-right: 1rem;

}

.discount {
  font-size: smaller;
}

