* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-image: url("images/bg-pattern.svg");
}

.slidecontainer {
    width: 100%; /* Width of the outside container */
  }
  .slider {
    width: 100%
  }
/* Mouse-over effects */
  #slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  #slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
  
  #slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */  
  }

  #views {
    display: none;
  }

  .pageViews {
    display: inline;
    
  }

  #pageViewDisplay {
    padding-right: 0.25%;
  }

 /*list of checkmarks*/

 .list{
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.checkmark  {
  background: url('images/icon-check.svg') no-repeat left top;
  height: 34px;
  padding-left: 1em;
}

/*Title*/

.container {
  display: grid;
  column-gap: 0.75em;
  text-align: center;
}

/*Body*/

.body-text {
  background-color: rgb(255, 255, 255);
  display: grid;
  justify-content: center;
  align-content: center;
  row-gap: 1em;
  padding: 5vh;
} 
.time {
  display: grid;
  padding-top: 2%;
  padding-bottom: 2%;
}

.slidecontainer {
  padding-bottom: 2em;
}


@media only screen and (max-width: 600px) {
  .container {
    grid-template-columns: 1fr;
  }

  .body-text {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr;
    

  }


  .time {
    grid-template-columns: repeat(3,1fr);
  }

  
  
}

 /* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

  
